name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      #- run: sudo apt update
      #- run: sudo apt install git
      - run: sudo apt install g++
      - run: git clone https://github.com/ardupilot/ardupilot.git
      - run: cd ardupilot
      - run: cd ardupilot && git submodule update --init --recursive
      - run: cd ardupilot && ./waf configure --board=blue
      - run: cd ardupilot && ./waf
